.headerstyle {
  font-size: 12px;
  font-weight: 600;
  color: #0f0c1b99;
  line-height: 16px;
}
.tablecontent {
  font-size: 13px;
  font-weight: 400;
  color: #0f0c1b;
  line-height: 18px;
}
.paginationprevious {
  border-top: #eaeaea 2px solid;
  border-right: none;
  border-bottom: #eaeaea 2px solid;
  border-left: #eaeaea 2px solid;
  border-radius: 10px 0px 0px 10px;
}
.paginationnext {
  border-top: #eaeaea 2px solid;
  border-right: #eaeaea 2px solid;
  border-bottom: #eaeaea 2px solid;
  border-left: none;
  border-radius: 0px 10px 10px 0px;
}

.paginationfont {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.headerfont {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.headeractivecolor {
  color: #613fdd;
  font-weight: 600;
  border-color: #613fdd;
}
.detailhighfont {
  font-size: 24px;
  font-weight: 600;
  color: #0f0c1b;
  line-height: 40px;
}

.detailhighfontmain {
  font-size: 32px;
  font-weight: 600;
  color: #0f0c1b;
  line-height: 44px;
}
.detailsmallfont {
  font-size: 14px;
  font-weight: 500;
  color: #0f0c1b;
  line-height: 20px;
}
.radiofont {
  font-size: 14px;
  font-weight: 400;
  color: #0f0c1b;
  line-height: 20px;
}
.radiofontinside {
  font-size: 14px;
  font-weight: 400;
  color: #0f0c1b99;
  line-height: 20px;
}
.labelbuttonfont {
  font-size: 13px;
  font-weight: 500;
  color: #0f0c1b;
  line-height: 18.29px;
  border-radius: 45px;
}

.radiofontinside li {
  margin-top: 10px;
}
